= error_messages_for :post
%p
  = f.label :title
%p
  = f.text_field :title

%p
  = f.label :body, "Body (Markdown available)"
%p
  = f.text_area :body

%p
  = f.label :tag_list
%p
  = f.text_field :tag_list
