- cache(@cache_conditions) do
  - for post in @posts
    .post
      .post-left
        .date
          #{post.created_at.strftime('%b %d')}
        .comments
          = link_to pluralize(post.comments.size, 'comment'), post
      .post-right
        %h2
          = link_to h(post.title), post
        .author
          Posted by #{link_to post.user.username, post.user} at #{post.created_at}
          / %span.comments
          /   = pluralize(article.comments.size, 'comment')
        / .author
        /   Posted by #{h article.user.username} on #{article.created_at.strftime('%b %d, %Y')}
        .content
          =# simple_format(truncate(post.body, :length => 300, :omission => "...<br/>"+link_to("Read more.", post)))
          = post.formatted_body
        .tags
          Tags:
          - post.tags.each do |tag|
            = link_to tag, tag
      .clear
  <br/>
  = will_paginate @posts
